<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="about.css">
    <link rel="icon" href="Images/logo.jpg">
</head>
<body>
    <div class="cont">
        <h1>About BMSCE UTSAV</h1>
        <p>BMSCE UTSAV is one of the Biggest Annual Cultural Fest,Organised by BMS College Of Engineering, Bengaluru.
           Lot of Events and competitions are organised in this fest,like Coding events,Gaming events etc.Apart from this,
           Fashion show,Group dance competition,Turtle Jam etc. are organised.Not only students of BMS College participate,
           but also students from other colleges participate in this fest.DJ EVM Night, Music Show etc. also happen at last.
           This is one of the most exciting Cultural fest. 
        </p>
    </div>
</body>
</html>