<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Already Registered</title>
    <link rel="stylesheet" href="thanks.css">
    <link rel="icon" href="Images/logo.jpg">
</head>
<body>
    <div class="cont">
        <h1>You've already registered for this Event</h1>
        <p>You can fill out this form only once.</p>
        <p>Try Contacting on phone number given in contact page.</p>
    </div>
</body>
</html>