<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="about.css">
    <link rel="icon" href="Images/logo.jpg">
</head>
<body>
    <div class="cont">
    <h1>For Further Queries,Contact:-</h1>
    <p>Anupam Kumar Boruah:+917002637027</p>
    <p>Prateek Jain:+919529985043</p>
    </div>
</body>
</html>