<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to BMSCE UTSAV 2020</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="Images/logo.jpg">
</head>
<body>
    <div class="nav">
        <img src = "Images/logo.jpg">
        <b><a href = "/verify?name={{name}}&usn={{usn}}">Home</a></b>
        <b><a href = "/about" target="_blank">About</a></b>
        <b><a href = "/contact" target="_blank">Contact Us</a></b>
        <b><a href = "/logout">Log Out</a></b>
    </div>
    <div class="head">
        <h1>Hi {{name}}!</h1>
        <h1>Welcome To BMSCE UTSAV 2020</h1>
        <p>Machi Rediya</p>
    </div>
    <div class="cont">
        <b>Finally,the wait is over.BMSCE Utsav is going to be held on 13,14 and 15 October 2020.
           We are organising a lot of events like Flagship events,Coding events,PubG,CSGo etc.
           which will be held from 9 A.M. to 4:30 P.M. on 13 to 15 October 2020. Apart from this,
           There will be DJ Bash on 14th October 2020 at 7 P.M. and InnerSanctum Whiplash on 15th October 2020,which is open for all BMSCEians.
           Opening Ceremony will be held on 13th October at 5:30 P.M. For Details and Timings of events,
           see the UTSAV Rulebook.
        </b>
        <b>Here, We are providing you the facility for registration of events to be held between 9 A.M. and 4:30 P.M.</b>
         <b>Below are the category of the Events.Just Click any one category and participate any of the events in that Category.</b>
    </div>
    <div class="cate">
        <div class="box">
            <a href = "/part?event=Flagship" target="_blank"><h3>Flagship Events</h3></a>        
        </div>
        <div class="box">
            <a href="/part?event=Coding" target="_blank"><h3>Coding Events</h3></a>
        </div>
        <div class="box">
            <a href="/part?event=Gaming" target="_blank"><h3>Gaming Events</h3></a>  
        </div>
    </div>
    <div class="coord">
        <h2>Meet Our Utsav Head Coordinators</h2>
        <div class="sub">
            <img src="Images/IMG_20200826_215541.jpg">
            <img src="Images/IMG_20200826_215527.jpg">
            <p>Anupam Kumar Boruah</p>
            <p>Prateek Jain</p>
        </div>
    </div>
     <div class="coord1">
        <h2>Our Honourable Guests</h2>
        <div class="subs">
            <img src="Images/sudeep.jpg">
            <img src="Images/garuda_ram.jpg">
            <p>Kiccha Sudeep</p>
            <p>Garuda Ram</p>
        </div>
    </div>
    <div class="spon">
        <h2>Our Sponsors</h2>
        <div class="sub1">
           <img src = "Images/download.jpg">
           <img src = "Images/kisspng-hewlett-packard-brand-logo-product-design-hp-historique-présentation-chiffres-clés-n-5b62d46f0250a1.3786663115332035670095.jpg">
           <img src = "Images/kisspng-bharti-airtel-logo-customer-service-brand-product-network-training-institute-kottayam-software-train-5b71a81d23bcd3.4398614915341752611464.jpg">
           <img src = "Images/247-2479114_transparent-tata-logo.png">
        </div>
    </div>
    <div class="foot">
        <b>Copyright @ 2020 BMSCE UTSAV.com | All rights reserved</b>
    </div>
</body>
</html>