<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css">
    <link rel="icon" href="Images/logo.jpg">
</head>
<body>
    <div class="form">
        <form action="/parcipant" method="post">
            <h1>Sign Up</h1>
            <label for ="name"><i>Name:</i></label>
            <input type="text" id="name" name="name" placeholder="Enter Your Name">
            <label for ="usn"><i>USN:</i></label>
            <input type="text" id="usn" name="usn" placeholder="Enter Your USN">
            <label for ="dob"><i>Date of Birth:</i></label>
            <input type="date" id="dob" name="dob" placeholder="Enter Your Date of Birth">
            <label for ="dept"><i>Department:</i></label>
            <input type="text" id="dept" name="dept" placeholder="Enter Your Department">
            <label for ="email"><i>Email:</i></label>
            <input type="email" id="email" name="email" placeholder="Enter Your Email">
            <label for ="year"><i>Year:</i></label>
            <input type="number" id="year" name="year" placeholder="Enter Your Year of Admission">
            <label for ="phone"><i>Phone Number:</i></label>
            <input type="number" id="phone" name="phone" placeholder="Enter Your Phone Number">
            <button>Submit</button>
        </form>    
    </div>
</body>
</html>