<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for the Registration</title>
    <link rel="stylesheet" href="thanks.css">
    <link rel="icon" href="Images/logo.jpg">
</head>
<body>
    <div class="cont">
        <h1>Thank you For Registration</h1>
        <p>Date and Timings will be given to you through your email you give during registration.</p>
        <p>Want to know further about registered event?Check the RuleBook of Utsav.</p>
    </div>
</body>
</html>